*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}


nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:white;
    font-size: x-large;
}

#buy {
    color: black;
    font-size: x-large;
    text-decoration: none;
    border: 2px solid black;

}

p{
    color:white;
}

.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 150px;

}
.products{
    margin: 70px ;

}

#error{
    min-width: 300px;
    text-align: center;
    font-size: 30px;
    line-height: 200px;
    margin: 25px 0;

}
#cart{
    min-width: 300px;
    text-align: center;
    font-size: 30px;
    margin: 25px 0;

}

#display1{
    padding-left: 200px;
    padding-top: 5px;
    color:white;
    text-align: left;
    font-size: 20px;
}

#list{
    text-align: center;
    border-left: 10px;
    font-size: 15px;
    /* line-height: 200px; */
    /* margin: 25px 0; */
}

.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 335px;
    height: 515px;
    border: 5px solid black;
    padding: 30px 0;
    margin-top: 30px;

}

#login{
    width: 300px;
    height: 155px;
    border: 5px solid black;
    text-align: center;
    margin-top: 50px;
    margin-left: 500px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}